<div class="artist-box" *ngIf="identity && album">
  <div id="artist-head-card">

    <div class="image">
      <img src="{{url + 'getImageAlbum/'+album.image}}" *ngIf="album.image && album.image != 'null'" />
    </div>
    <div class="data">
      <h1>{{album.title}}</h1>
      <p class="year">{{album.year}}</p>
      <p class="description">{{album.description}}</p>

      <a [routerLink]="['/new-song',album._id]" *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default">
        Add new Song
        </a>

    </div>

  </div>

  <div class="clearfix"></div>

  <div id="gallery-songs" *ngIf="songs">
    <!-- List Song -->


    <ul id="songs-list">
      <li *ngFor="let song of songs" class="song-item">


        <div class="title">

          <a class="btn btn-success">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          </a>


          {{song.number + '. ' + song.name + ' - ' + song.duration}}

          <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
            <a  class="btn btn-sm btn-primary" [routerLink]="['/song-edit',song._id]">Update-song</a>
            <a  (click)="onDeleteConfirm(song._id)" class="btn btn-sm btn-danger">Delete-song</a>

          </div>


          <div class="seguro-song" *ngIf="confirmado==song._id">
            <a (click)="onDeleteSong(song._id)" class="btn btn-sm btn-danger">Delete</a>
            <a (click)="onCancelSong()" class="btn btn-sm btn-primary">Cancel</a>
          </div>

          <div class="clearfix"></div>

        </div>




      </li>
    </ul>

  </div>

</div>

