<div class="artist-box" *ngIf="identity && album">
  <div id="artist-head-card">

    <div class="image">
      <img src="{{url + 'getImageAlbum/'+album.image}}" *ngIf="album.image && album.image != 'null'" />
    </div>
    <div class="data">
      <h1>{{album.title}}</h1>
      <p class="year">{{album.year}}</p>
      <p class="description">{{album.description}}</p>

      <a [routerLink]="['/song-add',album._id]" *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default">
        Add new Song
        </a>

    </div>

  </div>

  <div class="clearfix"></div>

  <div id="gallery-songs" *ngIf="songs">
    <!-- List Song -->

  </div>

</div>

