<div *ngIf="identity">
  <h1>{{titulo}}</h1>

  <div *ngIf="errorMessage" class="alert alert-danger">
    <strong>Error</strong> {{errorMessage}}
  </div>

  <div class="clearfix">
    <ul class="pagination left" style="padding-bottom: 5px;margin-bottom: 5px;">

      <li><a [routerLink]="['/new-artist']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default left" style="padding: 5px;margin: 0px;margin-left: 15px;margin-right: 20px;">
    Add Artist
          </a>
      </li>
      <li><a [routerLink]="['/artists',prev_page]">&laquo;</a></li>
      <li><a [routerLink]="['/artists',next_page]">&raquo;</a></li>
</ul>


</div>


</div>
<div class="clearfix" *ngIf="identity">
  <ul class="artists-list">
    <li *ngFor="let artist of artists" class="col-lg-3 col-md-4 artist-item">
      <div class="artist-image">
        <img [routerLink]="['/artist',artist._id]" src="{{url + 'getImageArtist/'+artist.image}}" />

      </div>
      <div class="artist-name">
        <a [routerLink]="['/artist',artist._id]">
        {{artist.name}}
        </a>
      </div>
      <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
        <a class="btn btn-sm btn-warning" [routerLink]="['/update-artist',artist._id]">Update-artist</a>
        <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Delete-artist</a>
      </div>

      <div class="seguro" *ngIf="confirmado==artist._id">
        <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Delete</a>
        <a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancel</a>
      </div>
    </li>
  </ul>
</div>
