<div class="head-page" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
  <h1>{{titulo}}</h1>

<form #formArtist="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6 col-lg-offset-1">
  <p>
    <label>Name</label>
    <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name"
           class="form-control" required />
    <span *ngIf="!name.valid && name.touched">
      Name is mandatory !!!
    </span>
  </p>
  <p>
    <label>Description</label>
    <textarea #description="ngModel" name="description" [(ngModel)]="artist.description"
              class="form-control" required></textarea>
    <span *ngIf="!description.valid && description.touched">
      Description is mandatory !!!
    </span>
  </p>

  <input type="submit" value="Create Artist"
         [disabled]="!formArtist.form.valid"
  class="btn btn-success"/>
</form>

<div *ngIf="errorMessage" class="alert alert-danger">
  <strong>Error</strong> {{errorMessage}}

</div>

<div *ngIf="alertSuccess" class="alert alert-success">

  {{alertSuccess}}

</div>

</div>

<div class="head-page" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">

  <div class="alert alert-danger">
    <strong>Access not allowed. RESTRICTED</strong>

  </div>

</div>
