<div class="artist-box" *ngIf="identity && artist">
  <div id="artist-head-card">

    <div class="image">
      <img src="{{url + 'getImageArtist/'+artist.image}}" *ngIf="artist.image && artist.image != 'null'" />
    </div>
    <div class="data">
      <h1>{{artist.name}}</h1>
      <p class="description">{{artist.description}}</p>

      <a [routerLink]="['/album-add',artist._id]" *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default">
        Add new Album
        </a>

    </div>

  </div>

  <div class="clearfix"></div>

  <div id="gallery-albums" *ngIf="albums">
    <!-- List Albums -->

  </div>

</div>

<div class="clearfix" *ngIf="identity">
  <ul class="albums-list">
    <li *ngFor="let album of albums" class="col-lg-3 col-md-4 album-item">
      <div class="album-image">
        <img [routerLink]="['/album',album._id]" src="{{url + 'getImageAlbum/'+album.image}}" />

      </div>
      <div class="album-name">
        <a [routerLink]="['/album',album._id]">
        {{album.title}} - {{album.year}}
        </a>
      </div>
      <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
        <a class="btn btn-sm btn-warning" [routerLink]="['/update-album',album._id]">Update-album</a>
        <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger">Delete-album</a>
      </div>

      <div class="seguro" *ngIf="confirmado==album._id">
        <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-danger">Delete</a>
        <a (click)="onCancelAlbum()" class="btn btn-sm btn-primary">Cancel</a>
      </div>
    </li>
  </ul>
</div>
