html, body{
  margin: 0px;
  height: 100%;
  background: #eeeeee;
}
.actived{
  border-bottom: 4px solid #84BD00;
  padding-bottom:4px;
}
.artist_image_for_edit img{
  width: 250px;
}
.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation{
  text-align: center;
  color: white;
  background: #1C1C1F;
  height: 100%;
  overflow: hidden;

}
.navigation a{
  color: #ddd;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover{
  color: white;

}

.navigation .glyphicon{
  font-size: 25px;
  display: block;
  width: 100%;
}

#user_logged{
  text-decoration: center;
  background: #1C1C1F;
  position: absolute;
  bottom: 10px;
  border-top: 1xp solid #444;
  width: 75%;

}
#user_logged a:hover{
  color: white;
  cursor: pointer;

}
#user_logged .image_user{
  background: #eeeeee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  margin:0px auto;
  margin-top:15px;
  overflow: hidden;

}
#user_logged .image_user img{

  width: 57px;
}
.artists-list{
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  margin-top: 30px;
  list-style: none;
  overflow-y: scroll;
}
.artist-item{
  width: 200px;
  margin: 0px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
  margin-left: 20px;
  margin-top: 20px;
}

.artist-item .artist-image{
height: 245px;
width: 100%;
overflow: hidden;
background: black;
}

.artist-item .artist-image img{
  height: 100%;
  width: 100%;
}

.artist-item .artist-name{
  color: white;
  padding: 10px;
  background: #222326;

}
.artist-item .artist-name a{
  color: white;
}

.artist-item .buttons{
  color: white;
  padding-left: 15px;
  padding: 0px;
  background: #222326;
   width: 100%;
   align-items: center;
}
#artist-head-card .image{
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 30px;

}

#artist-head-card .image img{
  width: 100%;
  
}
.central{
  height: 100%;
  overflow-y: scroll;

}
.seguro{
  margin-top: -30px;
  background: #222326;
  position: absolute;
  height: 30px;
  width: 100%;
}

.albums-list{
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  margin-top: 30px;
  padding-bottom: 50px;
  list-style: none;
  overflow-y: scroll;
}
.album-item{
  width: 300px;
  margin: 0px;
  padding: 0px;
  height: 407px;
  border: 1px solid #444;
  margin-left: 20px;
  margin-top: 20px;
}

.album-item .album-image{
height: 335px;
width: 100%;
overflow: hidden;
background: black;
}

.album-item .album-image img{
  height: 100%;
  width: 100%;
}

.album-item .album-name{
  color: white;
  padding: 10px;
  background: #222326;

}
.album-item .album-name a{
  color: white;
}

.album-item .buttons{
  color: white;
  padding-left: 20px;
  padding: 0px;
  background: #222326;
   width: 100%;
   align-items: right;
}